*{
    margin:0;
}
html,body{
    width:100%;
    height: 100%;
    background-color: #F6F4E6;
}
#tyuuou{
    width:120vmin;
    height: 60vmin;
    margin:auto;

}
#window_toparea{
    height:40%;
}
#arimasu_area{
    margin:auto;
    width:70vmin;

}
.arimasu_arrival{
    display: inline-block;
    width:15vmin;
    height:15vmin;
    color: #41444B;
    font-size: 15vmin;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}




#window_bottomarea{
    top:40%;
    height:60%;

}
#button_area{
    margin:auto;
    width:70vmin;
}
.jun_button{
    display: inline-block;
    width:15vmin;
    height:15vmin;

    border: 1px,double,#52575D;
    background-color: #FDDB3A;
    user-select: none;
    transition-property:all;
    transition-duration:0.1s;
    transition-timing-function:ease-out;
}

.jun_button:hover{
    border-radius: 10px;
}
.jun_button:active{
    border: 1px,double,#303131;
    background-color: #c9af31;
}